<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ch9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>MySQL DBCP</description>
    <res-ref-name>DataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
     <servlet-name>bookQuery</servlet-name>
     <servlet-class>com.demo.BookQueryServlet</servlet-class>
 </servlet>
<servlet>
     <servlet-name>bookInsert</servlet-name>
     <servlet-class>com.demo.BookInsertServlet</servlet-class>
 </servlet>

 <servlet-mapping>
     <servlet-name>bookQuery</servlet-name>
     <url-pattern>../BookQueryServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
     <servlet-name>bookInsert</servlet-name>
     <url-pattern>../BookInsertServlet</url-pattern>
 </servlet-mapping>
</web-app>