<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ch12</display-name>
  <listener>
    <listener-class>com.test1.SCListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>EventTest</servlet-name>
    <servlet-class>com.test1.EventTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventTest</servlet-name>
    <url-pattern>/EventTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.test2.HSListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>OnlineCount</servlet-name>
    <servlet-class>com.test2.OnlineCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineCount</servlet-name>
    <url-pattern>/OnlineCountServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuditFilter</filter-name>
    <filter-class>com.test3.AuditFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuditFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckParam</servlet-name>
    <servlet-class>com.test4.CheckParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckParam</servlet-name>
    <url-pattern>/CheckParamServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.test4.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>